[TOC]

## chapter1-数据结构和算法


### 1.1 将序列分解为单独的变量

In [3]:
a, b = ["a_variable", "n_re"]
a

'a_variable'

In [5]:
b

'n_re'

In [ ]:
### 1.2 解压可迭代对象赋值给多个变量

In [6]:
record = ('Dave', 'dave@example.com', '773-555-1212', '847-555-1212')
name, email, *phone_numbers = record

In [7]:
name

'Dave'

In [8]:
email, phone_numbers

('dave@example.com', ['773-555-1212', '847-555-1212'])

可以使用`_`，来丢弃不需要的元素

In [10]:
record = ('ACME', 50, 123.45, (12, 18, 2012))
name, *_, (*_, year) = record
name

'ACME'

In [11]:
year

2012

In [16]:
name, *_, (_, _, year) = record
year

2012

### 1.3 保留最后N个元素

利用`collections.deque`可以实现一个队列，从队列两端进行插入和删除的复杂度都是`O(1)`.而使用列表，在列表的开头插入或删除元素的时间复杂度为`O(N)`.

In [22]:
from collections import deque
d = deque(maxlen=3)

In [23]:
d.append(1)
d.append(2)
d.append(3)

In [24]:
d

deque([1, 2, 3])

In [25]:
d

deque([1, 2, 3])

In [26]:
d.append(4)
d

deque([2, 3, 4])