In [1]:
from pyspark import SparkContext
from pyspark.sql.functions import Column, col, lit
from pyspark.sql.types import *

In [2]:
# Import SparkSession from pyspark.sql
from pyspark.sql import SparkSession

# Create my_spark;当已经存在sparksession时，会载入
my_spark = SparkSession.builder.getOrCreate()

# Print my_spark
my_spark

In [5]:
my_spark.sparkContext

In [3]:
# 查看Sparksession中的表格
my_spark.catalog.listTables()

[]

In [6]:
import pandas as pd
data = pd.DataFrame({"a":[1,2,3,4], 'b':[3,4,5,6]})
data

   a  b
0  1  3
1  2  4
2  3  5
3  4  6

In [7]:
df = my_spark.createDataFrame(data)
df.show()

+---+---+
|  a|  b|
+---+---+
|  1|  3|
|  2|  4|
|  3|  5|
|  4|  6|
+---+---+

In [8]:
df.printSchema()

root
 |-- a: long (nullable = true)
 |-- b: long (nullable = true)

需要注意，此处createDataFrame()产生的SparkDataFrame只是locally的，没有存在SparkSession中


需要将其存入sparksession中

In [15]:
df.createTempView("test_pandas")
my_spark.catalog.listTables()

[Table(name='test_pandas', database=None, description=None, tableType='TEMPORARY', isTemporary=True)]

# Don't change this file path
file_path = "/usr/local/share/datasets/airports.csv"

# Read in the airports data
airports = spark.read.csv(file_path, header=True)

# Show the data
airports.show()

## chapter 6 working with different types of data

In [18]:
from pyspark.sql.types import *

自定义schema，StructType由StructField组成每一个StructField包含:
+ 列名
+ 列的数据格式
+ 这一列是否可以包含缺失值

In [19]:
schema = StructType([
    StructField("InvoiceNo", LongType(), True),
    StructField("StockCode", StringType(), True),
    StructField("Description", StringType(), True),
    StructField("Quantity", IntegerType(), True),
    StructField("InvoiceDate", TimestampType(), True),
    StructField("UnitPrice", FloatType(), True),
    StructField("CustomerID", FloatType(), True),
    StructField("Country", StringType(), True)
])

In [20]:
df = my_spark.read.csv('./2010-12-01.csv', sep='\t', header=True, schema=schema)
df.show(5, truncate=True)

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|2010-12-01 08:26:00|     2.55|   17850.0|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|
|   536365|   84406B|CREAM CUPID HEART...|       8|2010-12-01 08:26:00|     2.75|   17850.0|United Kingdom|
|   536365|   84029G|KNITTED UNION FLA...|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
only showing top 5 rows

In [21]:
df.printSchema()

root
 |-- InvoiceNo: long (nullable = true)
 |-- StockCode: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Quantity: integer (nullable = true)
 |-- InvoiceDate: timestamp (nullable = true)
 |-- UnitPrice: float (nullable = true)
 |-- CustomerID: float (nullable = true)
 |-- Country: string (nullable = true)

In [11]:
type(df)

pyspark.sql.dataframe.DataFrame

In [26]:
from pyspark.sql.functions import col,column

Column<b'some'>

In [33]:
df.select(col('Country'))

DataFrame[Country: string]

In [14]:
type(df.select('Country'))

pyspark.sql.dataframe.DataFrame

In [34]:
df.show(2)

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|2010-12-01 08:26:00|     2.55|   17850.0|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
only showing top 2 rows

In [40]:
from pyspark.sql.functions import expr
df.select("Country",
          expr("Country"),
          expr("Country as expr_country"),
         col("Country"))\
    .show(2)

+--------------+--------------+--------------+--------------+
|       Country|       Country|  expr_country|       Country|
+--------------+--------------+--------------+--------------+
|United Kingdom|United Kingdom|United Kingdom|United Kingdom|
|United Kingdom|United Kingdom|United Kingdom|United Kingdom|
+--------------+--------------+--------------+--------------+
only showing top 2 rows

In [48]:
# 定义一些操作来看看
t1 = col("UnitPrice")+1
t2 = col("UnitPrice") * 2 + 1
df.select(t1, t2).show(2)

+---------------+---------------------+
|(UnitPrice + 1)|((UnitPrice * 2) + 1)|
+---------------+---------------------+
|           3.55|                  6.1|
|      4.3900003|                 7.78|
+---------------+---------------------+
only showing top 2 rows

In [50]:
# 利用expr
from pyspark.sql.functions import expr
df.select(expr("UnitPrice+1 as test")).show(2)

+---------+
|     test|
+---------+
|     3.55|
|4.3900003|
+---------+
only showing top 2 rows

In [51]:
df.first()

Row(InvoiceNo=536365, StockCode='85123A', Description='WHITE HANGING HEART T-LIGHT HOLDER', Quantity=6, InvoiceDate=datetime.datetime(2010, 12, 1, 8, 26), UnitPrice=2.549999952316284, CustomerID=17850.0, Country='United Kingdom')

In [52]:
df[0]

Column<b'InvoiceNo'>

In [56]:
df.rdd.take(1)

[Row(InvoiceNo=536365, StockCode='85123A', Description='WHITE HANGING HEART T-LIGHT HOLDER', Quantity=6, InvoiceDate=datetime.datetime(2010, 12, 1, 8, 26), UnitPrice=2.549999952316284, CustomerID=17850.0, Country='United Kingdom')]

In [57]:
df.rdd.take(1)[0]

Row(InvoiceNo=536365, StockCode='85123A', Description='WHITE HANGING HEART T-LIGHT HOLDER', Quantity=6, InvoiceDate=datetime.datetime(2010, 12, 1, 8, 26), UnitPrice=2.549999952316284, CustomerID=17850.0, Country='United Kingdom')

In [65]:
from pyspark.sql import Row
row = Row(name="Alice", age=11)
row

Row(age=11, name='Alice')

In [66]:
row[1]

'Alice'

**从Row新建DataFrame**

In [68]:
from pyspark.sql import Row
from pyspark.sql.types import *
myschema = StructType([
    StructField("some", StringType(), True),
    StructField("col", StringType(), True),
    StructField("names", StringType(), True)
])

myRow = [Row("hello", None, 1), Row("world", None, 3)]
myDF = my_spark.createDataFrame(myRow, myschema)
myDF.show()

+-----+----+-----+
| some| col|names|
+-----+----+-----+
|hello|null|    1|
|world|null|    3|
+-----+----+-----+

In [69]:
df.select("Country", "Unitprice").show(2)

+--------------+---------+
|       Country|Unitprice|
+--------------+---------+
|United Kingdom|     2.55|
|United Kingdom|     3.39|
+--------------+---------+
only showing top 2 rows

In [76]:
from pyspark.sql.functions import col, column, expr
df.select("Unitprice",
         expr("Unitprice+1 as new"),
         col("Unitprice"),
         col("Unitprice")+1).show(2)

+---------+---------+---------+---------------+
|Unitprice|      new|Unitprice|(Unitprice + 1)|
+---------+---------+---------+---------------+
|     2.55|     3.55|     2.55|           3.55|
|     3.39|4.3900003|     3.39|      4.3900003|
+---------+---------+---------+---------------+
only showing top 2 rows

In [75]:
# selctexpr
df.selectExpr("*",
              "Unitprice+1 as new").show(2)

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+---------+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|      new|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+---------+
|   536365|   85123A|WHITE HANGING HEA...|       6|2010-12-01 08:26:00|     2.55|   17850.0|United Kingdom|     3.55|
|   536365|    71053| WHITE METAL LANTERN|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|4.3900003|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+---------+
only showing top 2 rows

有时候需要将普通数值转化为sparkType

In [79]:
from pyspark.sql.functions import lit
df.select(expr("*"), lit(1).alias("One")).show(2)

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+---+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|One|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+---+
|   536365|   85123A|WHITE HANGING HEA...|       6|2010-12-01 08:26:00|     2.55|   17850.0|United Kingdom|  1|
|   536365|    71053| WHITE METAL LANTERN|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|  1|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+---+
only showing top 2 rows

添加列

In [80]:
df.withColumn("新的一列", lit(5)).show(2)

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+--------+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|新的一列|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+--------+
|   536365|   85123A|WHITE HANGING HEA...|       6|2010-12-01 08:26:00|     2.55|   17850.0|United Kingdom|       5|
|   536365|    71053| WHITE METAL LANTERN|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|       5|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+--------+
only showing top 2 rows

In [83]:
df.withColumn("新的一列", expr("Country == 'United States'")).show(2)

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+--------+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|新的一列|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+--------+
|   536365|   85123A|WHITE HANGING HEA...|       6|2010-12-01 08:26:00|     2.55|   17850.0|United Kingdom|   false|
|   536365|    71053| WHITE METAL LANTERN|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|   false|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+--------+
only showing top 2 rows

In [84]:
# 重命名
df.withColumnRenamed("Country", "重命名为国家").show(2)

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|  重命名为国家|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|2010-12-01 08:26:00|     2.55|   17850.0|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
only showing top 2 rows

In [154]:
# 删除列
df=df.withColumn("new",lit(2))
df=df.drop(col("new"))
df.show(2)

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|2010-12-01 08:26:00|     2.55|   17850.0|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
only showing top 2 rows

In [156]:
df=df.drop(*['InvoiceNo', 'StockCode'])
df.show()

+--------------------+--------+-------------------+---------+----------+--------------+
|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|
+--------------------+--------+-------------------+---------+----------+--------------+
|WHITE HANGING HEA...|       6|2010-12-01 08:26:00|     2.55|   17850.0|United Kingdom|
| WHITE METAL LANTERN|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|
|CREAM CUPID HEART...|       8|2010-12-01 08:26:00|     2.75|   17850.0|United Kingdom|
|KNITTED UNION FLA...|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|
|RED WOOLLY HOTTIE...|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|
|SET 7 BABUSHKA NE...|       2|2010-12-01 08:26:00|     7.65|   17850.0|United Kingdom|
|GLASS STAR FROSTE...|       6|2010-12-01 08:26:00|     4.25|   17850.0|United Kingdom|
|HAND WARMER UNION...|       6|2010-12-01 08:28:00|     1.85|   17850.0|United Kingdom|
|HAND WARMER RED P...|       6|2010-12-01 08:28:00|     1.85|   17850.0|United Kingdom|
|ASSORTED COLOUR B...|      32|2010-12-01 08:34:00|     1.69|   13047.0|United Kingdom|
|POPPY'S PLAYHOUSE...|       6|2010-12-01 08:34:00|      2.1|   13047.0|United Kingdom|
|POPPY'S PLAYHOUSE...|       6|2010-12-01 08:34:00|      2.1|   13047.0|United Kingdom|
|FELTCRAFT PRINCES...|       8|2010-12-01 08:34:00|     3.75|   13047.0|United Kingdom|
|IVORY KNITTED MUG...|       6|2010-12-01 08:34:00|     1.65|   13047.0|United Kingdom|
|BOX OF 6 ASSORTED...|       6|2010-12-01 08:34:00|     4.25|   13047.0|United Kingdom|
|BOX OF VINTAGE JI...|       3|2010-12-01 08:34:00|     4.95|   13047.0|United Kingdom|
|BOX OF VINTAGE AL...|       2|2010-12-01 08:34:00|     9.95|   13047.0|United Kingdom|
|HOME BUILDING BLO...|       3|2010-12-01 08:34:00|     5.95|   13047.0|United Kingdom|
|LOVE BUILDING BLO...|       3|2010-12-01 08:34:00|     5.95|   13047.0|United Kingdom|
|RECIPE BOX WITH M...|       4|2010-12-01 08:34:00|     7.95|   13047.0|United Kingdom|
+--------------------+--------+-------------------+---------+----------+--------------+
only showing top 20 rows

In [87]:
df.where(col("Quantity")<2).show(2)

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+---+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|new|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+---+
|   536381|    71270|     PHOTO CLIP LINE|       1|2010-12-01 09:41:00|     1.25|   15311.0|United Kingdom|  2|
|   536381|    22262|FELT EGG COSY CHI...|       1|2010-12-01 09:41:00|     0.85|   15311.0|United Kingdom|  2|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+---+
only showing top 2 rows

In [91]:
df.filter(col("Quantity")<2).show(2)

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+---+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|new|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+---+
|   536381|    71270|     PHOTO CLIP LINE|       1|2010-12-01 09:41:00|     1.25|   15311.0|United Kingdom|  2|
|   536381|    22262|FELT EGG COSY CHI...|       1|2010-12-01 09:41:00|     0.85|   15311.0|United Kingdom|  2|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+---+
only showing top 2 rows

In [92]:
df.filter(expr("Quantity<2")).show(2)

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+---+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|new|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+---+
|   536381|    71270|     PHOTO CLIP LINE|       1|2010-12-01 09:41:00|     1.25|   15311.0|United Kingdom|  2|
|   536381|    22262|FELT EGG COSY CHI...|       1|2010-12-01 09:41:00|     0.85|   15311.0|United Kingdom|  2|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+---+
only showing top 2 rows

In [93]:
# 重新分区
df.repartition(5, col("Country"))

DataFrame[InvoiceNo: bigint, StockCode: string, Description: string, Quantity: int, InvoiceDate: timestamp, UnitPrice: float, CustomerID: float, Country: string, new: int]

In [95]:
# collect
collectDF = df.limit(2).collect()
collectDF

[Row(InvoiceNo=536365, StockCode='85123A', Description='WHITE HANGING HEART T-LIGHT HOLDER', Quantity=6, InvoiceDate=datetime.datetime(2010, 12, 1, 8, 26), UnitPrice=2.549999952316284, CustomerID=17850.0, Country='United Kingdom', new=2),
 Row(InvoiceNo=536365, StockCode='71053', Description='WHITE METAL LANTERN', Quantity=6, InvoiceDate=datetime.datetime(2010, 12, 1, 8, 26), UnitPrice=3.390000104904175, CustomerID=17850.0, Country='United Kingdom', new=2)]

In [18]:
# 存入sparksession
df.createOrReplaceTempView('df_2010_01')
my_spark.catalog.listTables()

[Table(name='df_2010_01', database=None, description=None, tableType='TEMPORARY', isTemporary=True),
 Table(name='test_pandas', database=None, description=None, tableType='TEMPORARY', isTemporary=True)]

In [19]:
# sql语法
my_spark.sql('select * from df_2010_01 limit 2').show()

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|2010-12-01 08:26:00|     2.55|   17850.0|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+

In [20]:
# convert to spark type
df.select(lit(5), lit('five'), lit(5.0)).show(5)

+---+----+---+
|  5|five|5.0|
+---+----+---+
|  5|five|5.0|
|  5|five|5.0|
|  5|five|5.0|
|  5|five|5.0|
|  5|five|5.0|
+---+----+---+
only showing top 5 rows

In [21]:
# working with boolen
from pyspark.sql.functions import instr
pricefilter = col('UnitPrice')  > 200
descripFilter = instr(df.Description, 'POSTAGE') >= 1
df.where(df.StockCode.isin('DOT')).where(pricefilter | descripFilter).show()

+---------+---------+-----------+--------+-----------+---------+----------+-------+
|InvoiceNo|StockCode|Description|Quantity|InvoiceDate|UnitPrice|CustomerID|Country|
+---------+---------+-----------+--------+-----------+---------+----------+-------+
+---------+---------+-----------+--------+-----------+---------+----------+-------+

In [22]:
DOTCodeFilter = col('StockCode') == 'DOT'
df.withColumn('isExpensive', DOTCodeFilter & (pricefilter | descripFilter)).show(5)

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+-----------+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|isExpensive|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+-----------+
|   536365|   85123A|WHITE HANGING HEA...|       6|2010-12-01 08:26:00|     2.55|   17850.0|United Kingdom|      false|
|   536365|    71053| WHITE METAL LANTERN|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|      false|
|   536365|   84406B|CREAM CUPID HEART...|       8|2010-12-01 08:26:00|     2.75|   17850.0|United Kingdom|      false|
|   536365|   84029G|KNITTED UNION FLA...|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|      false|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|      false|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+-----------+
only showing top 5 rows

In [23]:
df.withColumn('isExpensive', DOTCodeFilter & (pricefilter | descripFilter)).where('!isExpensive').show(5) # 非

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+-----------+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|isExpensive|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+-----------+
|   536365|   85123A|WHITE HANGING HEA...|       6|2010-12-01 08:26:00|     2.55|   17850.0|United Kingdom|      false|
|   536365|    71053| WHITE METAL LANTERN|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|      false|
|   536365|   84406B|CREAM CUPID HEART...|       8|2010-12-01 08:26:00|     2.75|   17850.0|United Kingdom|      false|
|   536365|   84029G|KNITTED UNION FLA...|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|      false|
|   536365|   84029E|RED WOOLLY HOTTIE...|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|      false|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+-----------+
only showing top 5 rows

In [24]:
from pyspark.sql.functions import expr
df.withColumn('isExpensive', expr("UnitPrice<= 3.0 and StockCode == '85123A'")).where('isExpensive').show()

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+-----------+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|isExpensive|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+-----------+
|   536365|   85123A|WHITE HANGING HEA...|       6|2010-12-01 08:26:00|     2.55|   17850.0|United Kingdom|       true|
|   536373|   85123A|WHITE HANGING HEA...|       6|2010-12-01 09:02:00|     2.55|   17850.0|United Kingdom|       true|
|   536375|   85123A|WHITE HANGING HEA...|       6|2010-12-01 09:32:00|     2.55|   17850.0|United Kingdom|       true|
|   536390|   85123A|WHITE HANGING HEA...|      64|2010-12-01 10:19:00|     2.55|   17511.0|United Kingdom|       true|
|   536394|   85123A|WHITE HANGING HEA...|      32|2010-12-01 10:39:00|     2.55|   13408.0|United Kingdom|       true|
|   536396|   85123A|WHITE HANGING HEA...|       6|2010-12-01 10:51:00|     2.55|   17850.0|United Kingdom|       true|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+-----------+

In [25]:
# working with numbers
from pyspark.sql.functions import expr, pow
fabricatedQuantity = pow(col('Quantity')* col('UnitPrice'), 2) + 5
df.select(expr('CustomerID as ID'), fabricatedQuantity.alias('realQuantity')).show(2)

+-------+------------------+
|     ID|      realQuantity|
+-------+------------------+
|17850.0|239.08999999999997|
|17850.0|          418.7156|
+-------+------------------+
only showing top 2 rows

In [26]:
# all in sql
df.selectExpr('CustomerID as ID',
             "POWER((Quantity * UnitPrice), 2.0) + 5 as `总价格`").show(2)

+-------+------------------+
|     ID|            总价格|
+-------+------------------+
|17850.0|239.08999999999997|
|17850.0|          418.7156|
+-------+------------------+
only showing top 2 rows

In [27]:
# round & bround
df.select('CustomerID', 'UnitPrice', expr('round(2.5) as price_round'), expr('bround(2.5) as price_bround')).show(5)

+----------+---------+-----------+------------+
|CustomerID|UnitPrice|price_round|price_bround|
+----------+---------+-----------+------------+
|   17850.0|     2.55|          3|           2|
|   17850.0|     3.39|          3|           2|
|   17850.0|     2.75|          3|           2|
|   17850.0|     3.39|          3|           2|
|   17850.0|     3.39|          3|           2|
+----------+---------+-----------+------------+
only showing top 5 rows

In [28]:
df.describe().show()

+-------+-----------------+------------------+--------------------+------------------+------------------+------------------+--------------+
|summary|        InvoiceNo|         StockCode|         Description|          Quantity|         UnitPrice|        CustomerID|       Country|
+-------+-----------------+------------------+--------------------+------------------+------------------+------------------+--------------+
|  count|              357|               357|                 357|               357|               357|               357|           357|
|   mean|536385.3333333334| 29411.22697368421|                null| 18.81232492997199|3.8414005602240917| 15591.70868347339|          null|
| stddev|10.67293883779816|19189.381582082537|                null|44.490575500251296| 9.246382605719276|1877.2715511331987|          null|
|    min|           536365|             10002|3 STRIPEY MICE FE...|               -24|               0.1|           12431.0|     Australia|
|    max|          C536391|              POST|ZINC WILLIE WINKI...|               432|             165.0|           18074.0|United Kingdom|
+-------+-----------------+------------------+--------------------+------------------+------------------+------------------+--------------+

In [29]:
# 五分位数
from pyspark.sql.functions import count, mean, stddev_pop, min, max

In [30]:
df.stat.crosstab('StockCode', 'Quantity').show(2)

+------------------+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+
|StockCode_Quantity| -1|-12|-24|  1| 10|100| 12|120|144| 16| 18|192|  2| 20| 23| 24|288|  3| 32| 36|  4| 40|432| 48|  5| 50|  6| 64|  8| 80|  9| 96|
+------------------+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+
|             22064|  0|  0|  0|  0|  0|  0|  1|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|
|             21080|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  0|  1|
+------------------+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+---+
only showing top 2 rows

In [31]:
df.stat.freqItems(['StockCode', 'Quantity']).show(2)

+--------------------+--------------------+
| StockCode_freqItems|  Quantity_freqItems|
+--------------------+--------------------+
|[84029G, 22068, 8...|[23, 50, 32, 8, -...|
+--------------------+--------------------+

In [32]:
# working with string
from pyspark.sql.functions import initcap
df.select(initcap('Description'), 'Description').show(2, False)

+----------------------------------+----------------------------------+
|initcap(Description)              |Description                       |
+----------------------------------+----------------------------------+
|White Hanging Heart T-light Holder|WHITE HANGING HEART T-LIGHT HOLDER|
|White Metal Lantern               |WHITE METAL LANTERN               |
+----------------------------------+----------------------------------+
only showing top 2 rows

In [33]:
# 大小写切换
from pyspark.sql.functions import lower, upper
df.select('Description',lower(col('Description')), expr('upper(Description)')).show(2, False)

+----------------------------------+----------------------------------+----------------------------------+
|Description                       |lower(Description)                |upper(Description)                |
+----------------------------------+----------------------------------+----------------------------------+
|WHITE HANGING HEART T-LIGHT HOLDER|white hanging heart t-light holder|WHITE HANGING HEART T-LIGHT HOLDER|
|WHITE METAL LANTERN               |white metal lantern               |WHITE METAL LANTERN               |
+----------------------------------+----------------------------------+----------------------------------+
only showing top 2 rows

In [34]:
# 去除字符串中的空格
from pyspark.sql.functions import lit, ltrim, rtrim, lpad, rpad, lpad, trim
df.select(
    ltrim(lit('  左边有空格  看看会不会被去掉  ')).alias('ltrim'),
    rtrim(lit('  右边有空格  看看会不会被去掉  ')).alias('rtrim'),
    trim(lit('  中间有空格  看看会不会被去掉  ')).alias('trim'),
    lpad(lit('HELLO'), 10, ' ').alias('lpad'),  # 表示最终输出有10个字符长度
    rpad(lit('HELLO'), 10, ' ').alias('rpad')).show(1, False)

+------------------------------+------------------------------+----------------------------+----------+----------+
|ltrim                         |rtrim                         |trim                        |lpad      |rpad      |
+------------------------------+------------------------------+----------------------------+----------+----------+
|左边有空格  看看会不会被去掉  |  右边有空格  看看会不会被去掉|中间有空格  看看会不会被去掉|     HELLO|HELLO     |
+------------------------------+------------------------------+----------------------------+----------+----------+
only showing top 1 row

In [35]:
# 正则表达式匹配
from pyspark.sql.functions import regexp_replace, regexp_extract
df.select(regexp_replace("Description", 'BLACK|WHITE|RED|GREEN|BLUE', 'color').alias('color_clean'), col('Description')).show(2, False)

+----------------------------------+----------------------------------+
|color_clean                       |Description                       |
+----------------------------------+----------------------------------+
|color HANGING HEART T-LIGHT HOLDER|WHITE HANGING HEART T-LIGHT HOLDER|
|color METAL LANTERN               |WHITE METAL LANTERN               |
+----------------------------------+----------------------------------+
only showing top 2 rows

In [36]:
# 使用translate函数来进行正则匹配替换
from pyspark.sql.functions import translate
df.select(translate('Description', 'LEET', '1337'), 'Description').show(2,False)

+----------------------------------+----------------------------------+
|translate(Description, LEET, 1337)|Description                       |
+----------------------------------+----------------------------------+
|WHI73 HANGING H3AR7 7-1IGH7 HO1D3R|WHITE HANGING HEART T-LIGHT HOLDER|
|WHI73 M37A1 1AN73RN               |WHITE METAL LANTERN               |
+----------------------------------+----------------------------------+
only showing top 2 rows

In [37]:
extract_str = '(BLACK|WHITE|RED|GREEN|BLUE)'
df.select(regexp_extract(col('Description'), extract_str, 1).alias('color_clean'),
         col('Description')).show(2,False)

+-----------+----------------------------------+
|color_clean|Description                       |
+-----------+----------------------------------+
|WHITE      |WHITE HANGING HEART T-LIGHT HOLDER|
|WHITE      |WHITE METAL LANTERN               |
+-----------+----------------------------------+
only showing top 2 rows

In [38]:
# check 类似于R的grep
from pyspark.sql.functions import instr
containsBlack = instr(col('Description'), 'BLACK') >= 1
containsWhite = instr(col('Description'), 'WHITE') >= 1
df.withColumn('hasSimpleColor', containsBlack | containsWhite).show(2,False)

+---------+---------+----------------------------------+--------+-------------------+---------+----------+--------------+--------------+
|InvoiceNo|StockCode|Description                       |Quantity|InvoiceDate        |UnitPrice|CustomerID|Country       |hasSimpleColor|
+---------+---------+----------------------------------+--------+-------------------+---------+----------+--------------+--------------+
|536365   |85123A   |WHITE HANGING HEART T-LIGHT HOLDER|6       |2010-12-01 08:26:00|2.55     |17850.0   |United Kingdom|true          |
|536365   |71053    |WHITE METAL LANTERN               |6       |2010-12-01 08:26:00|3.39     |17850.0   |United Kingdom|true          |
+---------+---------+----------------------------------+--------+-------------------+---------+----------+--------------+--------------+
only showing top 2 rows

In [39]:
from pyspark.sql.functions import expr, locate
col_list = ['CustomerID', 'StockCode', 'Quantity']
df.select(*col_list).show(2)

+----------+---------+--------+
|CustomerID|StockCode|Quantity|
+----------+---------+--------+
|   17850.0|   85123A|       6|
|   17850.0|    71053|       6|
+----------+---------+--------+
only showing top 2 rows

In [40]:
def color_locator(column, color_string):
    return locate(color_string.upper(), column).cast('boolean').alias('is_'+color_string)

simpeColors = ['black', 'white', 'red', 'green', 'blue']
selectedColumn = [color_locator(df.Description, c) for c in simpeColors]
selectedColumn.append(expr('*'))

In [41]:
selectedColumn

[Column<b'CAST(locate(BLACK, Description, 1) AS BOOLEAN) AS `is_black`'>,
 Column<b'CAST(locate(WHITE, Description, 1) AS BOOLEAN) AS `is_white`'>,
 Column<b'CAST(locate(RED, Description, 1) AS BOOLEAN) AS `is_red`'>,
 Column<b'CAST(locate(GREEN, Description, 1) AS BOOLEAN) AS `is_green`'>,
 Column<b'CAST(locate(BLUE, Description, 1) AS BOOLEAN) AS `is_blue`'>,
 Column<b'unresolvedstar()'>]

In [42]:
df.select(*selectedColumn).where(expr('is_white OR is_red'))\
   .select('Description').show(3,False)

+----------------------------------+
|Description                       |
+----------------------------------+
|WHITE HANGING HEART T-LIGHT HOLDER|
|WHITE METAL LANTERN               |
|RED WOOLLY HOTTIE WHITE HEART.    |
+----------------------------------+
only showing top 3 rows

In [43]:
# date and timestamp
from pyspark.sql.functions import current_date, current_timestamp
dateDF = my_spark.range(10)\
        .withColumn('today', current_date())\
        .withColumn('now', current_timestamp())

In [44]:
dateDF.show(2,False)

+---+----------+-----------------------+
|id |today     |now                    |
+---+----------+-----------------------+
|0  |2019-06-17|2019-06-17 22:37:47.523|
|1  |2019-06-17|2019-06-17 22:37:47.523|
+---+----------+-----------------------+
only showing top 2 rows

In [45]:
from pyspark.sql.functions import date_add,date_sub
dateDF.select(date_add("today", 5), date_sub('today', 2)).show(1)

+------------------+------------------+
|date_add(today, 5)|date_sub(today, 2)|
+------------------+------------------+
|        2019-06-22|        2019-06-15|
+------------------+------------------+
only showing top 1 row

In [46]:
from pyspark.sql.functions import datediff, months_between, to_date
dateDF.withColumn('week_ago', date_sub(col('today'), 7))\
    .select(datediff('week_ago', 'today')).show(1)

+-------------------------+
|datediff(week_ago, today)|
+-------------------------+
|                       -7|
+-------------------------+
only showing top 1 row

In [47]:
dateDF.select(
    to_date(lit('2019-01-01')).alias('start'),
    to_date(lit('2019-02-06')).alias('end'))\
    .select(months_between(col('start'), col('end'))).show(1)

+--------------------------------+
|months_between(start, end, true)|
+--------------------------------+
|                     -1.16129032|
+--------------------------------+
only showing top 1 row

In [48]:
# to_date format
dateDF.select(to_date(lit('2016-13-01')), to_date(lit('2018-12-11'))).show(1)

+---------------------+---------------------+
|to_date('2016-13-01')|to_date('2018-12-11')|
+---------------------+---------------------+
|                 null|           2018-12-11|
+---------------------+---------------------+
only showing top 1 row

In [49]:
dateDF.select(to_date(lit('2016-13-01'), 'yyyy-dd-MM'), 
              to_date(lit('2018-12-11'), 'yyyy-MM-dd')).show(1)

+-----------------------------------+-----------------------------------+
|to_date('2016-13-01', 'yyyy-dd-MM')|to_date('2018-12-11', 'yyyy-MM-dd')|
+-----------------------------------+-----------------------------------+
|                         2016-01-13|                         2018-12-11|
+-----------------------------------+-----------------------------------+
only showing top 1 row

In [50]:
from pyspark.sql.functions import to_timestamp
dateDF.select(to_date(lit('2016-13-01'), 'yyyy-dd-MM').alias('date1'), 
              to_date(lit('2018-12-11'), 'yyyy-MM-dd').alias('date2'))\
    .select(to_timestamp("date1"), "date2").show(1)

+---------------------+----------+
|to_timestamp(`date1`)|     date2|
+---------------------+----------+
|  2016-01-13 00:00:00|2018-12-11|
+---------------------+----------+
only showing top 1 row

In [51]:
from pyspark.sql.functions import coalesce
df.select(coalesce(col('Description')), col('CustomerID')).show(1, False)

+----------------------------------+----------+
|coalesce(Description)             |CustomerID|
+----------------------------------+----------+
|WHITE HANGING HEART T-LIGHT HOLDER|17850.0   |
+----------------------------------+----------+
only showing top 1 row

In [52]:
df.selectExpr('ifnull(null, "return_value")',
             "nullif(null, 'value')",
             "nvl(null, '哈哈')",
             "nvl2(null, '我不是null','我是null')",
             "nvl2('as', '我不是null', '我是null')").show(2)

+----------------------------+---------------------+-----------------+------------------------------------+------------------------------------+
|ifnull(NULL, 'return_value')|nullif(NULL, 'value')|nvl(NULL, '哈哈')|nvl2(NULL, '我不是null', '我是null')|nvl2('as', '我不是null', '我是null')|
+----------------------------+---------------------+-----------------+------------------------------------+------------------------------------+
|                return_value|                 null|             哈哈|                            我是null|                          我不是null|
|                return_value|                 null|             哈哈|                            我是null|                          我不是null|
+----------------------------+---------------------+-----------------+------------------------------------+------------------------------------+
only showing top 2 rows

In [53]:
df.na.fill('ALL null values becomes this value')

fill_values = {'StockCode': 5, "Description": 6}
df.na.fill(fill_values).show(2)

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|2010-12-01 08:26:00|     2.55|   17850.0|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
only showing top 2 rows

In [54]:
# null在排序中的顺序
# asc_nulls_first, desc_nulls_first, asc_nulls_last, desc_nulls_last

In [55]:
# 复杂的数据类型 structs, array, maps
df.selectExpr("(Description, InvoiceNo) as complex").show(2, False)

+--------------------------------------------+
|complex                                     |
+--------------------------------------------+
|[WHITE HANGING HEART T-LIGHT HOLDER, 536365]|
|[WHITE METAL LANTERN, 536365]               |
+--------------------------------------------+
only showing top 2 rows

In [56]:
from pyspark.sql.functions import struct
complexDF = df.select(struct('Description', 'InvoiceNo').alias('complex_struct'))

In [57]:
# getfiled
complexDF.select(col('complex_struct').getField('Description')).show(2)

+--------------------------+
|complex_struct.Description|
+--------------------------+
|      WHITE HANGING HEA...|
|       WHITE METAL LANTERN|
+--------------------------+
only showing top 2 rows

In [58]:
# 自动拆解
complexDF.select('complex_struct.*').show(2)

+--------------------+---------+
|         Description|InvoiceNo|
+--------------------+---------+
|WHITE HANGING HEA...|   536365|
| WHITE METAL LANTERN|   536365|
+--------------------+---------+
only showing top 2 rows

In [97]:
# arrays
from pyspark.sql.functions import split
df.select(split('Description', ' ')).show(2)

+---------------------+
|split(Description,  )|
+---------------------+
| [WHITE, HANGING, ...|
| [WHITE, METAL, LA...|
+---------------------+
only showing top 2 rows

In [60]:
df.select(split('Description', ' ').alias('col'))\
    .selectExpr('col[0]', 'col[1]').show(2)

+------+-------+
|col[0]| col[1]|
+------+-------+
| WHITE|HANGING|
| WHITE|  METAL|
+------+-------+
only showing top 2 rows

In [61]:
# 计算array的长度
from pyspark.sql.functions import size
df.select(size(split('Description', ' '))).show(2)

+---------------------------+
|size(split(Description,  ))|
+---------------------------+
|                          5|
|                          3|
+---------------------------+
only showing top 2 rows

In [62]:
df.select(split('Description', ' ').alias('col')).show(2, truncate=False)

+----------------------------------------+
|col                                     |
+----------------------------------------+
|[WHITE, HANGING, HEART, T-LIGHT, HOLDER]|
|[WHITE, METAL, LANTERN]                 |
+----------------------------------------+
only showing top 2 rows

In [98]:
# 如何将长度不同的array进行拆分呀
df.select(split('Description', ' ').alias('col')).show(2)

+--------------------+
|                 col|
+--------------------+
|[WHITE, HANGING, ...|
|[WHITE, METAL, LA...|
+--------------------+
only showing top 2 rows

In [64]:
# arrays_contain
from pyspark.sql.functions import array_contains
df.select(split('Description', ' ').alias('col'))\
    .select(array_contains('col', 'WHITE')).show(5)

+--------------------------+
|array_contains(col, WHITE)|
+--------------------------+
|                      true|
|                      true|
|                     false|
|                     false|
|                      true|
+--------------------------+
only showing top 5 rows

In [65]:
from pyspark.sql.functions import explode
df.select(split('Description', ' ').alias('col'))\
    .withColumn('exploded', explode('col')).show(10, truncate=False)

+----------------------------------------+--------+
|col                                     |exploded|
+----------------------------------------+--------+
|[WHITE, HANGING, HEART, T-LIGHT, HOLDER]|WHITE   |
|[WHITE, HANGING, HEART, T-LIGHT, HOLDER]|HANGING |
|[WHITE, HANGING, HEART, T-LIGHT, HOLDER]|HEART   |
|[WHITE, HANGING, HEART, T-LIGHT, HOLDER]|T-LIGHT |
|[WHITE, HANGING, HEART, T-LIGHT, HOLDER]|HOLDER  |
|[WHITE, METAL, LANTERN]                 |WHITE   |
|[WHITE, METAL, LANTERN]                 |METAL   |
|[WHITE, METAL, LANTERN]                 |LANTERN |
|[CREAM, CUPID, HEARTS, COAT, HANGER]    |CREAM   |
|[CREAM, CUPID, HEARTS, COAT, HANGER]    |CUPID   |
+----------------------------------------+--------+
only showing top 10 rows

In [66]:
# maps
from pyspark.sql.functions import create_map
df.select(create_map(col('Description'), col('InvoiceNo')).alias('Mapped')).show(2,False)

+----------------------------------------------+
|Mapped                                        |
+----------------------------------------------+
|[WHITE HANGING HEART T-LIGHT HOLDER -> 536365]|
|[WHITE METAL LANTERN -> 536365]               |
+----------------------------------------------+
only showing top 2 rows

In [67]:
# 通过map的键值访问其value
df.select(create_map(col('Description'), col('InvoiceNo')).alias('Mapped'))\
    .selectExpr("Mapped['WHITE METAL LANTERN']").show(2)

+---------------------------+
|Mapped[WHITE METAL LANTERN]|
+---------------------------+
|                       null|
|                     536365|
+---------------------------+
only showing top 2 rows

In [68]:
# explode to key-value
df.select(create_map(col('Description'), col('InvoiceNo')).alias('Mapped'))\
    .selectExpr('explode(Mapped)').show(2)

+--------------------+------+
|                 key| value|
+--------------------+------+
|WHITE HANGING HEA...|536365|
| WHITE METAL LANTERN|536365|
+--------------------+------+
only showing top 2 rows

In [69]:
df.select(create_map(col('Description'), col('InvoiceNo')).alias('Mapped'))\
    .select(explode("Mapped")).show(2)

+--------------------+------+
|                 key| value|
+--------------------+------+
|WHITE HANGING HEA...|536365|
| WHITE METAL LANTERN|536365|
+--------------------+------+
only showing top 2 rows

In [70]:
# working with json
jsonDF = my_spark.range(1).selectExpr("""
    '{"myJSONKey": {"myJSONValue": [1,2,3]}}' as jsonString""")

In [71]:
jsonDF.show(1,False)

+---------------------------------------+
|jsonString                             |
+---------------------------------------+
|{"myJSONKey": {"myJSONValue": [1,2,3]}}|
+---------------------------------------+

In [72]:
from pyspark.sql.functions import json_tuple, get_json_object
jsonDF.select(
    get_json_object(col('jsonString'), "$.myJSONKey.myJSONValue[1]").alias('column'),
    json_tuple(col('jsonString'), 'myJSONKey')).show(2, False)

+------+-----------------------+
|column|c0                     |
+------+-----------------------+
|2     |{"myJSONValue":[1,2,3]}|
+------+-----------------------+

In [73]:
# 将struct 转化为json格式
from pyspark.sql.functions import to_json
df.select(struct('Description', 'InvoiceNO').alias('struct')).select(to_json('struct')).show(1)

+---------------------+
|structstojson(struct)|
+---------------------+
| {"Description":"W...|
+---------------------+
only showing top 1 row

In [74]:
from pyspark.sql.functions import from_json
from pyspark.sql.types import *
parseSchema = StructType((
    StructField('InvoiceNo', StringType(), True),
    StructField('Description', StringType(), True)
))

df.selectExpr("(InvoiceNo, Description) as struct")\
    .select(to_json('struct').alias('newjson'), 'struct')\
    .select(from_json('newjson', parseSchema).alias('new'), 'newjson', 'struct').show(2, False)

+--------------------------------------------+-------------------------------------------------------------------------+--------------------------------------------+
|new                                         |newjson                                                                  |struct                                      |
+--------------------------------------------+-------------------------------------------------------------------------+--------------------------------------------+
|[536365, WHITE HANGING HEART T-LIGHT HOLDER]|{"InvoiceNo":"536365","Description":"WHITE HANGING HEART T-LIGHT HOLDER"}|[536365, WHITE HANGING HEART T-LIGHT HOLDER]|
|[536365, WHITE METAL LANTERN]               |{"InvoiceNo":"536365","Description":"WHITE METAL LANTERN"}               |[536365, WHITE METAL LANTERN]               |
+--------------------------------------------+-------------------------------------------------------------------------+--------------------------------------------+
only showing top 2 rows

In [137]:
# 用户自定义函数
udfExampleDF = my_spark.range(5).toDF('num')
udfExampleDF.show()

+---+
|num|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
+---+

In [135]:
def power3(double_value):
    return double_value ** 3

power3(3)

27

In [138]:
from pyspark.sql.functions import udf
power3udf = udf(power3)
udfExampleDF.select(power3udf(col('num'))).show(2)

+-----------+
|power3(num)|
+-----------+
|          0|
|          1|
+-----------+
only showing top 2 rows

In [143]:
udfExampleDF.select(power3(col('num'))).show(3)

+-------------+
|POWER(num, 3)|
+-------------+
|          0.0|
|          1.0|
|          8.0|
+-------------+
only showing top 3 rows

In [140]:
# 如上的写法只能在df中作为函数操作，但是不能写入expr之中
#udfExampleDF.selectExpr("power3udf(num)").show(2)
my_spark.udf.register('power3py', power3, DoubleType())
udfExampleDF.selectExpr('power3py(num)').show(2)  # 因为数据类型不对

+-------------+
|power3py(num)|
+-------------+
|         null|
|         null|
+-------------+
only showing top 2 rows

In [79]:
my_spark.udf.register('power3py', power3, IntegerType())
udfExampleDF.selectExpr('power3py(num)').show(3)

+-------------+
|power3py(num)|
+-------------+
|            0|
|            1|
|            8|
+-------------+
only showing top 3 rows

## chapter 7 Aggregation

In [3]:
# 读取retail data
retail = my_spark.read.format('csv')\
    .option('header', 'True')\
    .option('inferSchema', 'True')\
    .load('/Users/yanghao/github/data/retail-data/retail.csv')\
    .coalesce(5)

retail.cache()

DataFrame[InvoiceNo: string, StockCode: string, Description: string, Quantity: int, InvoiceDate: string, UnitPrice: double, CustomerID: int, Country: string]

In [81]:
retail.show(2)

+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|   InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|12/1/2010 8:26|     2.55|     17850|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|12/1/2010 8:26|     3.39|     17850|United Kingdom|
+---------+---------+--------------------+--------+--------------+---------+----------+--------------+
only showing top 2 rows

In [82]:
# count, actuion not transformation
retail.count()

541909

In [83]:
from pyspark.sql.functions import count, countDistinct, max, min, last, first, approx_count_distinct
retail.select(count("StockCode")).show(2)

+----------------+
|count(StockCode)|
+----------------+
|          541909|
+----------------+

In [84]:
retail.select(countDistinct('StockCode')).show(2)

+-------------------------+
|count(DISTINCT StockCode)|
+-------------------------+
|                     4070|
+-------------------------+

In [85]:
retail.select(approx_count_distinct('StockCode', 0.1)).show(2)

+--------------------------------+
|approx_count_distinct(StockCode)|
+--------------------------------+
|                            3364|
+--------------------------------+

In [86]:
retail.select(approx_count_distinct('StockCode', 0.2)).show(2)

+--------------------------------+
|approx_count_distinct(StockCode)|
+--------------------------------+
|                            2944|
+--------------------------------+

In [87]:
retail.select(first('StockCode'), last('StockCode'), min('Quantity'), max('quantity')).show(2)

+-----------------------+----------------------+-------------+-------------+
|first(StockCode, false)|last(StockCode, false)|min(Quantity)|max(quantity)|
+-----------------------+----------------------+-------------+-------------+
|                 85123A|                 22138|       -80995|        80995|
+-----------------------+----------------------+-------------+-------------+

In [88]:
retail = retail.na.drop()

In [89]:
retail.selectExpr("sum(UnitPrice)").show(2)

+------------------+
|    sum(UnitPrice)|
+------------------+
|1407819.9640006402|
+------------------+

In [90]:
# 默认是样本误差和样本方差，需要使用总体误差和总体方差的时候
from pyspark.sql.functions import sum, avg, mean, var_samp, stddev, stddev_pop, var_pop
retail.select(stddev('UnitPrice'), stddev_pop('UnitPrice'), var_samp('UnitPrice'), var_pop('UnitPrice')).show(2)

+----------------------+---------------------+-------------------+------------------+
|stddev_samp(UnitPrice)|stddev_pop(UnitPrice)|var_samp(UnitPrice)|var_pop(UnitPrice)|
+----------------------+---------------------+-------------------+------------------+
|     69.31516172321436|     69.3150765336085|   4804.59164471536| 4804.579834860004|
+----------------------+---------------------+-------------------+------------------+

In [91]:
# 偏度和峰度
from pyspark.sql.functions import skewness, kurtosis
df.select(skewness('Quantity'), kurtosis('Quantity')).show(2)

+------------------+------------------+
|skewness(Quantity)|kurtosis(Quantity)|
+------------------+------------------+
| 5.961063656227315|45.427546455787805|
+------------------+------------------+

In [92]:
from pyspark.sql.functions import corr, covar_pop, covar_samp
df.select(corr('InvoiceNo', 'Quantity'), covar_samp('InvoiceNo', 'Quantity'), covar_pop('InvoiceNo', 'Quantity')).show(2)

+-------------------------+-------------------------------+------------------------------+
|corr(InvoiceNo, Quantity)|covar_samp(InvoiceNo, Quantity)|covar_pop(InvoiceNo, Quantity)|
+-------------------------+-------------------------------+------------------------------+
|     0.023626982044350844|              11.27281460267257|             11.24042145726259|
+-------------------------+-------------------------------+------------------------------+

In [93]:
from pyspark.sql.functions import collect_list, collect_set
retail.agg(collect_list('Country'), collect_set('Country')).show(2)

+---------------------+--------------------+
|collect_list(Country)|collect_set(Country)|
+---------------------+--------------------+
| [United Kingdom, ...|[Portugal, Italy,...|
+---------------------+--------------------+

In [94]:
retail.select(collect_list('Country'), collect_set('Country')).show(2)

+---------------------+--------------------+
|collect_list(Country)|collect_set(Country)|
+---------------------+--------------------+
| [United Kingdom, ...|[Portugal, Italy,...|
+---------------------+--------------------+

In [95]:
# 先group，再aggregate
retail.groupby('InvoiceNo', 'CustomerID').count().show()

+---------+----------+-----+
|InvoiceNo|CustomerID|count|
+---------+----------+-----+
|   536846|     14573|   76|
|   537026|     12395|   12|
|   537883|     14437|    5|
|   538068|     17978|   12|
|   538279|     14952|    7|
|   538800|     16458|   10|
|   538942|     17346|   12|
|  C539947|     13854|    1|
|   540096|     13253|   16|
|   540530|     14755|   27|
|   541225|     14099|   19|
|   541978|     13551|    4|
|   542093|     17677|   16|
|   543188|     12567|   63|
|   543590|     17377|   19|
|  C543757|     13115|    1|
|  C544318|     12989|    1|
|   544578|     12365|    1|
|   545165|     16339|   20|
|   545289|     14732|   30|
+---------+----------+-----+
only showing top 20 rows

In [96]:
retail.groupby('InvoiceNo', 'CustomerID').agg(count('Quantity').alias('count_quantity')).show(2)

+---------+----------+--------------+
|InvoiceNo|CustomerID|count_quantity|
+---------+----------+--------------+
|   536846|     14573|            76|
|   537026|     12395|            12|
+---------+----------+--------------+
only showing top 2 rows

In [97]:
retail.groupby('InvoiceNo', 'CustomerID').\
    agg(count('Quantity').alias('count_quantity'),
       expr('count(Quantity) as count_quantity_expr'))\
    .show(2)

+---------+----------+--------------+-------------------+
|InvoiceNo|CustomerID|count_quantity|count_quantity_expr|
+---------+----------+--------------+-------------------+
|   536846|     14573|            76|                 76|
|   537026|     12395|            12|                 12|
+---------+----------+--------------+-------------------+
only showing top 2 rows

In [98]:
# 利用map指定对不同列进行不同的aggregate
retail.groupby('InvoiceNo').agg(expr('avg(Quantity)'), expr('stddev_pop(Quantity)')).show(2)

+---------+------------------+--------------------+
|InvoiceNo|     avg(Quantity)|stddev_pop(Quantity)|
+---------+------------------+--------------------+
|   536938|33.142857142857146|  20.698023172885524|
|   537691|              8.15|   5.597097462078001|
+---------+------------------+--------------------+
only showing top 2 rows

In [99]:
# window function 窗口函数
from pyspark.sql.functions import col, to_date
retail = retail.withColumn('date', to_date(col('InvoiceDate'), 'MM/d/yyyy H:mm'))
retail.select('date', 'InvoiceDate').show(2)

+----------+--------------+
|      date|   InvoiceDate|
+----------+--------------+
|2010-12-01|12/1/2010 8:26|
|2010-12-01|12/1/2010 8:26|
+----------+--------------+
only showing top 2 rows

In [101]:
from pyspark.sql.functions import dense_rank, rank
maxPurchaseQuantity = max(col("Quantity")).over(windowSpec)
purchaserank = dense_rank().over(windowSpec)

retail.where('CustomerId is not null').orderBy('CustomerId')\
    .select(
        col('CustomerID'),
        col('date'),
        col('Quantity'),
        purchaserank.alias('QuantityRank')).show()

+----------+----------+--------+------------+
|CustomerID|      date|Quantity|QuantityRank|
+----------+----------+--------+------------+
|     12346|2011-01-18|   74215|           1|
|     12346|2011-01-18|  -74215|           2|
|     12347|2010-12-07|      36|           1|
|     12347|2010-12-07|      30|           2|
|     12347|2010-12-07|      24|           3|
|     12347|2010-12-07|      12|           4|
|     12347|2010-12-07|      12|           4|
|     12347|2010-12-07|      12|           4|
|     12347|2010-12-07|      12|           4|
|     12347|2010-12-07|      12|           4|
|     12347|2010-12-07|      12|           4|
|     12347|2010-12-07|      12|           4|
|     12347|2010-12-07|      12|           4|
|     12347|2010-12-07|      12|           4|
|     12347|2010-12-07|      12|           4|
|     12347|2010-12-07|      12|           4|
|     12347|2010-12-07|      12|           4|
|     12347|2010-12-07|      12|           4|
|     12347|2010-12-07|       6|           5|
|     12347|2010-12-07|       6|           5|
+----------+----------+--------+------------+
only showing top 20 rows

In [102]:
retail.rollup('Date', 'Country').agg(sum('Quantity'))\
    .selectExpr('Date', 'Country', '`sum(Quantity)` as total_quantity')\
    .orderBy('Date').show()

+----------+--------------+--------------+
|      Date|       Country|total_quantity|
+----------+--------------+--------------+
|      null|          null|       4906888|
|2010-12-01|United Kingdom|         21167|
|2010-12-01|     Australia|           107|
|2010-12-01|          EIRE|           243|
|2010-12-01|        Norway|          1852|
|2010-12-01|          null|         24032|
|2010-12-01|        France|           449|
|2010-12-01|   Netherlands|            97|
|2010-12-01|       Germany|           117|
|2010-12-02|       Germany|           146|
|2010-12-02|          EIRE|             4|
|2010-12-02|          null|         20855|
|2010-12-02|United Kingdom|         20705|
|2010-12-03|      Portugal|            65|
|2010-12-03|   Switzerland|           110|
|2010-12-03|          EIRE|          2375|
|2010-12-03|        Poland|           140|
|2010-12-03|         Spain|           400|
|2010-12-03|        France|           239|
|2010-12-03|          null|         11548|
+----------+--------------+--------------+
only showing top 20 rows

In [103]:
retail.groupby('Date', 'Country').agg(sum('Quantity'))\
    .selectExpr('Date', 'Country', '`sum(Quantity)` as total_quantity')\
    .orderBy('Date').show()

+----------+--------------+--------------+
|      Date|       Country|total_quantity|
+----------+--------------+--------------+
|2010-12-01|        Norway|          1852|
|2010-12-01|United Kingdom|         21167|
|2010-12-01|       Germany|           117|
|2010-12-01|     Australia|           107|
|2010-12-01|   Netherlands|            97|
|2010-12-01|          EIRE|           243|
|2010-12-01|        France|           449|
|2010-12-02|          EIRE|             4|
|2010-12-02|       Germany|           146|
|2010-12-02|United Kingdom|         20705|
|2010-12-03|          EIRE|          2375|
|2010-12-03|       Germany|           170|
|2010-12-03|   Switzerland|           110|
|2010-12-03|       Belgium|           528|
|2010-12-03|        France|           239|
|2010-12-03|         Italy|           164|
|2010-12-03|United Kingdom|          7357|
|2010-12-03|         Spain|           400|
|2010-12-03|      Portugal|            65|
|2010-12-03|        Poland|           140|
+----------+--------------+--------------+
only showing top 20 rows

In [104]:
# cube
from pyspark.sql.functions import sum
retail.cube('Date', 'Country').agg(sum(col('Quantity')))\
    .select('Date', 'Country', 'sum(Quantity)').orderBy('Date').show()

+----+--------------------+-------------+
|Date|             Country|sum(Quantity)|
+----+--------------------+-------------+
|null|               Japan|        25218|
|null|               Italy|         7999|
|null|                 RSA|          352|
|null|                null|      4906888|
|null|            Portugal|        16044|
|null|             Germany|       117448|
|null|             Finland|        10666|
|null|           Singapore|         5234|
|null|              Cyprus|         6317|
|null|           Australia|        83653|
|null|  European Community|          497|
|null|             Lebanon|          386|
|null|         Unspecified|         1789|
|null|               Spain|        26824|
|null|                 USA|         1034|
|null|     Channel Islands|         9479|
|null|              Norway|        19247|
|null|             Denmark|         8188|
|null|United Arab Emirates|          982|
|null|      Czech Republic|          592|
+----+--------------------+-------------+
only showing top 20 rows

In [105]:
# pivot
pivoted = retail.na.drop().groupBy('date').pivot('Country').sum('Quantity')
pivoted.printSchema()

root
 |-- date: date (nullable = true)
 |-- Australia: long (nullable = true)
 |-- Austria: long (nullable = true)
 |-- Bahrain: long (nullable = true)
 |-- Belgium: long (nullable = true)
 |-- Brazil: long (nullable = true)
 |-- Canada: long (nullable = true)
 |-- Channel Islands: long (nullable = true)
 |-- Cyprus: long (nullable = true)
 |-- Czech Republic: long (nullable = true)
 |-- Denmark: long (nullable = true)
 |-- EIRE: long (nullable = true)
 |-- European Community: long (nullable = true)
 |-- Finland: long (nullable = true)
 |-- France: long (nullable = true)
 |-- Germany: long (nullable = true)
 |-- Greece: long (nullable = true)
 |-- Iceland: long (nullable = true)
 |-- Israel: long (nullable = true)
 |-- Italy: long (nullable = true)
 |-- Japan: long (nullable = true)
 |-- Lebanon: long (nullable = true)
 |-- Lithuania: long (nullable = true)
 |-- Malta: long (nullable = true)
 |-- Netherlands: long (nullable = true)
 |-- Norway: long (nullable = true)
 |-- Poland: long (nullable = true)
 |-- Portugal: long (nullable = true)
 |-- RSA: long (nullable = true)
 |-- Saudi Arabia: long (nullable = true)
 |-- Singapore: long (nullable = true)
 |-- Spain: long (nullable = true)
 |-- Sweden: long (nullable = true)
 |-- Switzerland: long (nullable = true)
 |-- USA: long (nullable = true)
 |-- United Arab Emirates: long (nullable = true)
 |-- United Kingdom: long (nullable = true)
 |-- Unspecified: long (nullable = true)

In [106]:
pivoted.show()

+----------+---------+-------+-------+-------+------+------+---------------+------+--------------+-------+----+------------------+-------+------+-------+------+-------+------+-----+-----+-------+---------+-----+-----------+------+------+--------+----+------------+---------+-----+------+-----------+----+--------------------+--------------+-----------+
|      date|Australia|Austria|Bahrain|Belgium|Brazil|Canada|Channel Islands|Cyprus|Czech Republic|Denmark|EIRE|European Community|Finland|France|Germany|Greece|Iceland|Israel|Italy|Japan|Lebanon|Lithuania|Malta|Netherlands|Norway|Poland|Portugal| RSA|Saudi Arabia|Singapore|Spain|Sweden|Switzerland| USA|United Arab Emirates|United Kingdom|Unspecified|
+----------+---------+-------+-------+-------+------+------+---------------+------+--------------+-------+----+------------------+-------+------+-------+------+-------+------+-----+-----+-------+---------+-----+-----------+------+------+--------+----+------------+---------+-----+------+-----------+----+--------------------+--------------+-----------+
|2011-10-07|     null|   null|   null|   null|  null|  null|           null|   345|           325|    637| 448|              null|   null|   527|   2053|  null|   null|  null| null| null|   null|     null| null|        212|  null|  null|    null|null|        null|     null|  227|  null|       null|null|                null|         24771|       null|
|2011-05-06|     null|     42|   null|    182|  null|  null|           null|  null|          null|   null|1694|              null|   null|  null|    222|  null|   null|  null| null| null|   null|     null| null|       null|  null|  null|    null|null|        null|     null|   88|  null|       null|null|                null|         15936|       null|
|2011-01-30|     null|   null|   null|   null|  null|  null|           null|  null|          null|   null|null|              null|   null|  null|   null|  null|   null|  null| null| null|   null|     null| null|       null|  null|  null|    null|null|        null|     null| null|  null|       null|null|                null|          3367|       null|
|2011-11-18|     null|   null|   null|    315|  null|  null|           null|   300|           -40|   null| 263|              null|   null|   550|    491|  null|   null|  null|  544| null|   null|     null| null|         34|   242|    -8|    null|null|        null|     null| null|    -3|        669|null|                null|         16635|       null|
|2011-07-18|     null|   null|   null|   null|  null|  null|           null|  null|          null|   null|1202|              null|   null|   921|   null|  null|   null|  null| null| null|   null|     null| null|       null|  null|  null|    null|null|        null|     2160| null|  null|       null|null|                null|          7795|       null|
|2011-08-21|     null|   null|   null|   null|  null|  null|            800|  null|          null|   null| 148|              null|   null|   270|    187|  null|   null|  null| null| null|   null|     null| null|       null|  null|  null|    null|null|        null|     null|    1|  null|       null|null|                null|          6752|       null|
|2011-01-23|     null|   null|   null|   null|  null|  null|           null|  null|          null|   null|null|              null|   null|   126|   null|  null|   null|  null| null| null|   null|     null| null|       null|  null|  null|    null|null|        null|     null| null|  null|       null|null|                null|          5068|       null|
|2011-07-07|     null|   null|   null|    143|  null|  null|           null|  null|          null|   null|null|              null|   null|  null|    550|  null|   null|  null| null| null|   null|     null| null|       null|  null|  null|    null|null|        null|     null|  216|  null|       null|null|                null|         15948|       null|
|2010-12-15|     null|    -48|   null|   null|  null|  null|           null|  null|          null|   null|null|              null|   null|   134|    -12|  null|   null|   -56| null| null|   null|     null| null|       null|  null|  null|    null|null|        null|     null| null|  null|       null|null|                null|         18151|       null|
|2011-11-14|     null|    342|   null|   null|  null|  null|           null|  null|          null|   null| 206|              null|    150|   894|    212|  null|   null|  null|  -22| null|   null|     null| null|       null|  null|  null|     225|null|        null|     null| null|  1060|       null|null|                null|         28908|       null|
|2010-12-01|      107|   null|   null|   null|  null|  null|           null|  null|          null|   null| 243|              null|   null|   449|    117|  null|   null|  null| null| null|   null|     null| null|         97|  1852|  null|    null|null|        null|     null| null|  null|       null|null|                null|         21167|       null|
|2011-04-06|     null|   null|   null|   null|  null|  null|           null|  null|          null|   null| 655|              null|   null|  null|    -14|  null|   null|  null| null| null|   null|     null| null|       null|  null|  null|    null|null|        null|     null| null|  null|       null|null|                null|          7358|       null|
|2011-06-21|     null|   null|   null|   null|  null|  null|           null|  null|          null|   null|  49|              null|   null|   351|    272|  null|   null|  null| null| null|   null|     null| null|        353|   582|  null|    null|null|        null|     null| null|  null|       null|null|                null|         11416|       null|
|2011-02-21|     null|   null|   null|    194|  null|  null|           null|   173|          null|   null|null|              null|   null|   334|    789|  null|   null|  null| null| null|   null|     null| null|      12208|  null|  null|     454|null|        null|     null| null|  null|       null|null|                null|          6226|       null|
|2011-09-04|     null|   null|   null|   null|  null|  null|           null|  null|          null|   null|1272|              null|   null|   509|   1608|  null|   null|  null| null| null|   null|     null| null|       null|  null|  null|    null|null|        null|     null| null|  null|       null|null|                null|          7494|       null|
|2011-08-30|     null|   null|   null|   null|  null|  null|           null|  null|          null|   null| -87|              null|   null|  null|    133|  null|   null|  null| null| null|   null|     null|   -5|       null|  null|    49|    null|null|        null|     null| null|  null|       null|null|                null|          4003|       null|
|2011-07-06|     null|   null|   null|    522|  null|  null|           null|  null|          null|   null|null|              null|   null|   597|   null|  null|   null|  null| null| null|   null|     null| null|       null|  null|  null|    null|null|        null|     null|  167|  3242|       null|null|                null|         13240|       null|
|2011-04-27|     null|   null|   null|   null|  null|  null|           null|  null|          null|   null| 163|              null|   null|    -2|    468|  null|   null|  null| null| null|   null|     null| null|       null|  null|  null|    null|null|        null|     null| null|   109|       null|null|                null|         16889|       null|
|2011-10-23|     null|   null|   null|   null|  null|  null|           null|  null|          null|   null|null|              null|   null|  null|     -2|  null|   null|  null| null| null|   null|     null| null|       null|  null|  null|    null|null|        null|     null| null|  null|       null|null|                null|          7070|       null|
|2011-08-05|     null|   null|   null|   null|  null|  null|           null|  null|          null|   null| 744|              null|   null|   486|    553|  null|   null|  null|  457| null|   null|     null| null|       null|  null|  null|    null|null|        null|     null| null|  null|       null|null|                null|          9948|       null|
+----------+---------+-------+-------+-------+------+------+---------------+------+--------------+-------+----+------------------+-------+------+-------+------+-------+------+-----+-----+-------+---------+-----+-----------+------+------+--------+----+------------+---------+-----+------+-----------+----+--------------------+--------------+-----------+
only showing top 20 rows

In [107]:
pivoted.where("date > '2011-12-05'").select('date', 'Australia', 'USA').show()

+----------+---------+----+
|      date|Australia| USA|
+----------+---------+----+
|2011-12-06|     null|null|
|2011-12-09|     null|null|
|2011-12-08|     null|-196|
|2011-12-07|     null|null|
+----------+---------+----+

In [108]:
# udf aggregation
# only in scala

### join操作

In [99]:
person = my_spark.createDataFrame([
    (0, "Bill Chambers", 0, [100]),
    (1, "Matei Zaharia", 1, [500, 250, 100]),
    (2, "Michael Armbrust", 1, [250, 100])
]).toDF("id", "name", "graduate_program", "spark_status")
person.show()

+---+----------------+----------------+---------------+
| id|            name|graduate_program|   spark_status|
+---+----------------+----------------+---------------+
|  0|   Bill Chambers|               0|          [100]|
|  1|   Matei Zaharia|               1|[500, 250, 100]|
|  2|Michael Armbrust|               1|     [250, 100]|
+---+----------------+----------------+---------------+

In [100]:
graduateProgram = my_spark.createDataFrame([
    (0, "Masters", "School of Information", "UC Berkeley"),
    (2, "Masters", "EECS", "UC Berkeley"),
    (1, "Ph.D", "EECS", "UC Berkeley")
]).toDF("id", "degree", "department", "school")

sparkstatus = my_spark.createDataFrame([
    (500, "Vice President"),
    (250, "PMC Member"),
    (100, "Contributor")
]).toDF('id', 'status')

In [101]:
graduateProgram.show()

+---+-------+--------------------+-----------+
| id| degree|          department|     school|
+---+-------+--------------------+-----------+
|  0|Masters|School of Informa...|UC Berkeley|
|  2|Masters|                EECS|UC Berkeley|
|  1|   Ph.D|                EECS|UC Berkeley|
+---+-------+--------------------+-----------+

In [112]:
sparkstatus.show()

+---+--------------+
| id|        status|
+---+--------------+
|500|Vice President|
|250|    PMC Member|
|100|   Contributor|
+---+--------------+

In [113]:
# innner join default
joinExpr = person["graduate_program"] == graduateProgram["id"]
joinExpr

Column<b'(graduate_program = id)'>

In [116]:
person.join(graduateProgram, joinExpr, 'inner').show()

+---+----------------+----------------+---------------+---+-------+--------------------+-----------+
| id|            name|graduate_program|   spark_status| id| degree|          department|     school|
+---+----------------+----------------+---------------+---+-------+--------------------+-----------+
|  0|   Bill Chambers|               0|          [100]|  0|Masters|School of Informa...|UC Berkeley|
|  1|   Matei Zaharia|               1|[500, 250, 100]|  1|   Ph.D|                EECS|UC Berkeley|
|  2|Michael Armbrust|               1|     [250, 100]|  1|   Ph.D|                EECS|UC Berkeley|
+---+----------------+----------------+---------------+---+-------+--------------------+-----------+

In [117]:
person.join(graduateProgram, joinExpr, 'outer').show()

+----+----------------+----------------+---------------+---+-------+--------------------+-----------+
|  id|            name|graduate_program|   spark_status| id| degree|          department|     school|
+----+----------------+----------------+---------------+---+-------+--------------------+-----------+
|   0|   Bill Chambers|               0|          [100]|  0|Masters|School of Informa...|UC Berkeley|
|   1|   Matei Zaharia|               1|[500, 250, 100]|  1|   Ph.D|                EECS|UC Berkeley|
|   2|Michael Armbrust|               1|     [250, 100]|  1|   Ph.D|                EECS|UC Berkeley|
|null|            null|            null|           null|  2|Masters|                EECS|UC Berkeley|
+----+----------------+----------------+---------------+---+-------+--------------------+-----------+

In [118]:
# left outer join
graduateProgram.join(person, joinExpr, 'left_outer').show()

+---+-------+--------------------+-----------+----+----------------+----------------+---------------+
| id| degree|          department|     school|  id|            name|graduate_program|   spark_status|
+---+-------+--------------------+-----------+----+----------------+----------------+---------------+
|  0|Masters|School of Informa...|UC Berkeley|   0|   Bill Chambers|               0|          [100]|
|  1|   Ph.D|                EECS|UC Berkeley|   1|   Matei Zaharia|               1|[500, 250, 100]|
|  1|   Ph.D|                EECS|UC Berkeley|   2|Michael Armbrust|               1|     [250, 100]|
|  2|Masters|                EECS|UC Berkeley|null|            null|            null|           null|
+---+-------+--------------------+-----------+----+----------------+----------------+---------------+

In [119]:
person.join(graduateProgram, joinExpr, 'right_outer').show()

+----+----------------+----------------+---------------+---+-------+--------------------+-----------+
|  id|            name|graduate_program|   spark_status| id| degree|          department|     school|
+----+----------------+----------------+---------------+---+-------+--------------------+-----------+
|   0|   Bill Chambers|               0|          [100]|  0|Masters|School of Informa...|UC Berkeley|
|   1|   Matei Zaharia|               1|[500, 250, 100]|  1|   Ph.D|                EECS|UC Berkeley|
|   2|Michael Armbrust|               1|     [250, 100]|  1|   Ph.D|                EECS|UC Berkeley|
|null|            null|            null|           null|  2|Masters|                EECS|UC Berkeley|
+----+----------------+----------------+---------------+---+-------+--------------------+-----------+

In [120]:
graduateProgram.join(person, joinExpr, 'left_semi').show()

+---+-------+--------------------+-----------+
| id| degree|          department|     school|
+---+-------+--------------------+-----------+
|  0|Masters|School of Informa...|UC Berkeley|
|  1|   Ph.D|                EECS|UC Berkeley|
+---+-------+--------------------+-----------+

In [122]:
graduateProgram.join(person, joinExpr, 'left_anti').show()

+---+-------+----------+-----------+
| id| degree|department|     school|
+---+-------+----------+-----------+
|  2|Masters|      EECS|UC Berkeley|
+---+-------+----------+-----------+

In [123]:
person.crossJoin(graduateProgram).show()

+---+----------------+----------------+---------------+---+-------+--------------------+-----------+
| id|            name|graduate_program|   spark_status| id| degree|          department|     school|
+---+----------------+----------------+---------------+---+-------+--------------------+-----------+
|  0|   Bill Chambers|               0|          [100]|  0|Masters|School of Informa...|UC Berkeley|
|  0|   Bill Chambers|               0|          [100]|  2|Masters|                EECS|UC Berkeley|
|  0|   Bill Chambers|               0|          [100]|  1|   Ph.D|                EECS|UC Berkeley|
|  1|   Matei Zaharia|               1|[500, 250, 100]|  0|Masters|School of Informa...|UC Berkeley|
|  1|   Matei Zaharia|               1|[500, 250, 100]|  2|Masters|                EECS|UC Berkeley|
|  1|   Matei Zaharia|               1|[500, 250, 100]|  1|   Ph.D|                EECS|UC Berkeley|
|  2|Michael Armbrust|               1|     [250, 100]|  0|Masters|School of Informa...|UC Berkeley|
|  2|Michael Armbrust|               1|     [250, 100]|  2|Masters|                EECS|UC Berkeley|
|  2|Michael Armbrust|               1|     [250, 100]|  1|   Ph.D|                EECS|UC Berkeley|
+---+----------------+----------------+---------------+---+-------+--------------------+-----------+

In [124]:
# joins on complec types
from pyspark.sql.functions import expr
person.withColumnRenamed("id", "personID")\
    .join(sparkstatus, expr("array_contains(spark_status, id)")).show()

+--------+----------------+----------------+---------------+---+--------------+
|personID|            name|graduate_program|   spark_status| id|        status|
+--------+----------------+----------------+---------------+---+--------------+
|       0|   Bill Chambers|               0|          [100]|100|   Contributor|
|       1|   Matei Zaharia|               1|[500, 250, 100]|500|Vice President|
|       1|   Matei Zaharia|               1|[500, 250, 100]|250|    PMC Member|
|       1|   Matei Zaharia|               1|[500, 250, 100]|100|   Contributor|
|       2|Michael Armbrust|               1|     [250, 100]|250|    PMC Member|
|       2|Michael Armbrust|               1|     [250, 100]|100|   Contributor|
+--------+----------------+----------------+---------------+---+--------------+

In [127]:
person.show()

+---+----------------+----------------+---------------+
| id|            name|graduate_program|   spark_status|
+---+----------------+----------------+---------------+
|  0|   Bill Chambers|               0|          [100]|
|  1|   Matei Zaharia|               1|[500, 250, 100]|
|  2|Michael Armbrust|               1|     [250, 100]|
+---+----------------+----------------+---------------+

In [128]:
# join之后列名重复的问题
graduateProgram.show()

+---+-------+--------------------+-----------+
| id| degree|          department|     school|
+---+-------+--------------------+-----------+
|  0|Masters|School of Informa...|UC Berkeley|
|  2|Masters|                EECS|UC Berkeley|
|  1|   Ph.D|                EECS|UC Berkeley|
+---+-------+--------------------+-----------+

In [3]:
import pandas as pd

In [102]:
df.createTempView("test_pandas")
my_spark.catalog.listTables()

[Table(name='test_pandas', database=None, description=None, tableType='TEMPORARY', isTemporary=True)]

In [107]:
my_spark.sql("select * from test_pandas limit 2").show()

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+---+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|new|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+---+
|   536365|   85123A|WHITE HANGING HEA...|       6|2010-12-01 08:26:00|     2.55|   17850.0|United Kingdom|  2|
|   536365|    71053| WHITE METAL LANTERN|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|  2|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+---+

In [108]:
tmp = my_spark.sql("select UnitPrice+1 as test from test_pandas limit 2")
type(tmp)

pyspark.sql.dataframe.DataFrame

In [109]:
tmp.show()

+---------+
|     test|
+---------+
|     3.55|
|4.3900003|
+---------+

In [111]:
my_spark.sql("DESCRIBE TABLE test_pandas").show()

+-----------+---------+-------+
|   col_name|data_type|comment|
+-----------+---------+-------+
|  InvoiceNo|   bigint|   null|
|  StockCode|   string|   null|
|Description|   string|   null|
|   Quantity|      int|   null|
|InvoiceDate|timestamp|   null|
|  UnitPrice|    float|   null|
| CustomerID|    float|   null|
|    Country|   string|   null|
|        new|      int|   null|
+-----------+---------+-------+

In [119]:
df = my_spark.read.csv('./2010-12-01.csv', sep='\t', header=True, inferSchema=True)
df.show(2, truncate=True)

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|2010-12-01 08:26:00|     2.55|   17850.0|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
only showing top 2 rows

In [120]:
df2 = my_spark.read.format("csv")\
    .option("header","true")\
    .option("sep", "\t")\
    .option("inferSchema","true")\
    .load('./2010-12-01.csv')
df2.show(2, truncate=False)

+---------+---------+----------------------------------+--------+-------------------+---------+----------+--------------+
|InvoiceNo|StockCode|Description                       |Quantity|InvoiceDate        |UnitPrice|CustomerID|Country       |
+---------+---------+----------------------------------+--------+-------------------+---------+----------+--------------+
|536365   |85123A   |WHITE HANGING HEART T-LIGHT HOLDER|6       |2010-12-01 08:26:00|2.55     |17850.0   |United Kingdom|
|536365   |71053    |WHITE METAL LANTERN               |6       |2010-12-01 08:26:00|3.39     |17850.0   |United Kingdom|
+---------+---------+----------------------------------+--------+-------------------+---------+----------+--------------+
only showing top 2 rows

In [118]:
# 多个option写在一起
df3 = my_spark.read.format("csv")\
    .options(header=True, sep='\t', inferSchema=True)\
    .load('./2010-12-01.csv')
df3.show(2, truncate=False)

+---------+---------+----------------------------------+--------+-------------------+---------+----------+--------------+
|InvoiceNo|StockCode|Description                       |Quantity|InvoiceDate        |UnitPrice|CustomerID|Country       |
+---------+---------+----------------------------------+--------+-------------------+---------+----------+--------------+
|536365   |85123A   |WHITE HANGING HEART T-LIGHT HOLDER|6       |2010-12-01 08:26:00|2.55     |17850.0   |United Kingdom|
|536365   |71053    |WHITE METAL LANTERN               |6       |2010-12-01 08:26:00|3.39     |17850.0   |United Kingdom|
+---------+---------+----------------------------------+--------+-------------------+---------+----------+--------------+
only showing top 2 rows

In [115]:
# write csv
df2.select("Quantity", "Country")\
    .write.format("csv")\
    .mode("overwrite")\
    .option("sep", "\t")\
    .save("./test.csv")

In [116]:
!ls

2010-12-01.csv         Pandas udf.ipynb       基本操作.ipynb
Low-level APIs.ipynb   spark-warehouse
Machine Learning.ipynb test.csv

In [122]:
df.show(2)

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|2010-12-01 08:26:00|     2.55|   17850.0|United Kingdom|
|   536365|    71053| WHITE METAL LANTERN|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+
only showing top 2 rows

In [132]:
from pyspark.sql.functions import col, concat_ws
new_df = df.select('*',
                   concat_ws("-", col('InvoiceNo'), col("StockCode"), col("Quantity")).alias("新的列"))

In [133]:
new_df.show(2)

+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+---------------+
|InvoiceNo|StockCode|         Description|Quantity|        InvoiceDate|UnitPrice|CustomerID|       Country|         新的列|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+---------------+
|   536365|   85123A|WHITE HANGING HEA...|       6|2010-12-01 08:26:00|     2.55|   17850.0|United Kingdom|536365-85123A-6|
|   536365|    71053| WHITE METAL LANTERN|       6|2010-12-01 08:26:00|     3.39|   17850.0|United Kingdom| 536365-71053-6|
+---------+---------+--------------------+--------+-------------------+---------+----------+--------------+---------------+
only showing top 2 rows

In [134]:
new_df.select("新的列").show(2, truncate=False)

+---------------+
|新的列         |
+---------------+
|536365-85123A-6|
|536365-71053-6 |
+---------------+
only showing top 2 rows

In [160]:
df.toPandas()

,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
5,SET 7 BABUSHKA NESTING BOXES,2,2010-12-01 08:26:00,7.65,17850.0,United Kingdom
6,GLASS STAR FROSTED T-LIGHT HOLDER,6,2010-12-01 08:26:00,4.25,17850.0,United Kingdom
7,HAND WARMER UNION JACK,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom
8,HAND WARMER RED POLKA DOT,6,2010-12-01 08:28:00,1.85,17850.0,United Kingdom
9,ASSORTED COLOUR BIRD ORNAMENT,32,2010-12-01 08:34:00,1.69,13047.0,United Kingdom
10,POPPY'S PLAYHOUSE BEDROOM,6,2010-12-01 08:34:00,2.10,13047.0,United Kingdom
11,POPPY'S PLAYHOUSE KITCHEN,6,2010-12-01 08:34:00,2.10,13047.0,United Kingdom
12,FELTCRAFT PRINCESS CHARLOTTE DOLL,8,2010-12-01 08:34:00,3.75,13047.0,United Kingdom
13,IVORY KNITTED MUG COSY,6,2010-12-01 08:34:00,1.65,13047.0,United Kingdom
14,BOX OF 6 ASSORTED COLOUR TEASPOONS,6,2010-12-01 08:34:00,4.25,13047.0,United Kingdom
15,BOX OF VINTAGE JIGSAW BLOCKS,3,2010-12-01 08:34:00,4.95,13047.0,United Kingdom
16,BOX OF VINTAGE ALPHABET BLOCKS,2,2010-12-01 08:34:00,9.95,13047.0,United Kingdom
17,HOME BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United Kingdom
18,LOVE BUILDING BLOCK WORD,3,2010-12-01 08:34:00,5.95,13047.0,United Kingdom
19,RECIPE BOX WITH METAL HEART,4,2010-12-01 08:34:00,7.95,13047.0,United Kingdom
20,DOORMAT NEW ENGLAND,4,2010-12-01 08:34:00,7.95,13047.0,United Kingdom
21,JAM MAKING SET WITH JARS,6,2010-12-01 08:34:00,4.25,13047.0,United Kingdom
22,RED COAT RACK PARIS FASHION,3,2010-12-01 08:34:00,4.95,13047.0,United Kingdom
23,YELLOW COAT RACK PARIS FASHION,3,2010-12-01 08:34:00,4.95,13047.0,United Kingdom
24,BLUE COAT RACK PARIS FASHION,3,2010-12-01 08:34:00,4.95,13047.0,United Kingdom
25,BATH BUILDING BLOCK WORD,3,2010-12-01 08:35:00,5.95,13047.0,United Kingdom
26,ALARM CLOCK BAKELIKE PINK,24,2010-12-01 08:45:00,3.75,12583.0,France
27,ALARM CLOCK BAKELIKE RED,24,2010-12-01 08:45:00,3.75,12583.0,France
28,ALARM CLOCK BAKELIKE GREEN,12,2010-12-01 08:45:00,3.75,12583.0,France
29,PANDA AND BUNNIES STICKER SHEET,12,2010-12-01 08:45:00,0.85,12583.0,France
...,...,...,...,...,...,...
327,JAM MAKING SET PRINTED,4,2010-12-01 11:21:00,1.45,15862.0,United Kingdom
328,LAVENDER INCENSE IN TIN,1,2010-12-01 11:21:00,1.25,15862.0,United Kingdom
329,TV DINNER TRAY VINTAGE PAISLEY,1,2010-12-01 11:21:00,4.95,15862.0,United Kingdom
330,SET OF 4 ENGLISH ROSE PLACEMATS,2,2010-12-01 11:21:00,3.75,15862.0,United Kingdom
331,SET OF 4 ENGLISH ROSE COASTERS,2,2010-12-01 11:21:00,1.25,15862.0,United Kingdom
332,TRIPLE PHOTO FRAME CORNICE,2,2010-12-01 11:21:00,9.95,15862.0,United Kingdom
333,FAMILY PHOTO FRAME CORNICE,1,2010-12-01 11:21:00,9.95,15862.0,United Kingdom
334,MIRRORED DISCO BALL,1,2010-12-01 11:21:00,5.95,15862.0,United Kingdom
335,DISCO BALL ROTATOR BATTERY OPERATED,1,2010-12-01 11:21:00,4.25,15862.0,United Kingdom
336,SILVER LOOKING MIRROR,3,2010-12-01 11:21:00,4.95,15862.0,United Kingdom
337,LADIES & GENTLEMEN METAL SIGN,1,2010-12-01 11:21:00,2.55,15862.0,United Kingdom
338,METAL SIGN HER DINNER IS SERVED,1,2010-12-01 11:21:00,2.95,15862.0,United Kingdom
339,YOU'RE CONFUSING ME METAL SIGN,2,2010-12-01 11:21:00,1.69,15862.0,United Kingdom
340,DOORMAT TOPIARY,1,2010-12-01 11:21:00,7.95,15862.0,United Kingdom
341,BATHROOM METAL SIGN,1,2010-12-01 11:21:00,0.55,15862.0,United Kingdom
342,KITCHEN METAL SIGN,1,2010-12-01 11:21:00,0.55,15862.0,United Kingdom
343,TOILET METAL SIGN,2,2010-12-01 11:21:00,0.55,15862.0,United Kingdom
344,METAL SIGN TAKE IT OR LEAVE IT,4,2010-12-01 11:21:00,2.95,15862.0,United Kingdom
345,I'M ON HOLIDAY METAL SIGN,2,2010-12-01 11:21:00,2.10,15862.0,United Kingdom
346,GROW YOUR OWN BASIL IN ENAMEL MUG,1,2010-12-01 11:21:00,2.10,15862.0,United Kingdom
347,SET/10 PINK POLKADOT PARTY CANDLES,1,2010-12-01 11:21:00,1.25,15862.0,United Kingdom
348,SET 20 NAPKINS FAIRY CAKES DESIGN,1,2010-12-01 11:21:00,0.85,15862.0,United Kingdom
349,60 TEATIME FAIRY CAKE CASES,3,2010-12-01 11:21:00,0.55,15862.0,United Kingdom
350,SET OF 6 T-LIGHTS SNOWMEN,1,2010-12-01 11:21:00,2.95,15862.0,United Kingdom
351,SET OF 6 T-LIGHTS SANTA,1,2010-12-01 11:21:00,2.95,15862.0,United Kingdom
352,SET OF 9 HEART SHAPED BALLOONS,2,2010-12-01 11:21:00,1.25,15862.0,United Kingdom
353,SANDWICH BATH SPONGE,3,2010-12-01 11:21:00,1.25,15862.0,United Kingdom
354,APPLE BATH SPONGE,1,2010-12-01 11:21:00,1.25,15862.0,United Kingdom
355,STRAWBERRY BATH SPONGE,1,2010-12-01 11:21:00,1.25,15862.0,United Kingdom
356,BLACK PIRATE TREASURE CHEST,2,2010-12-01 11:21:00,1.65,15862.0,United Kingdom